
# Python

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc


# Virtual environments

venv/
.venv/
env/
.env/


# Environment variables

.env
.env.*


# IDE

.vscode/
.idea/

# OS files

.DS_Store
Thumbs.db

# Database files (если используешь sqlite)

*.db
*.sqlite3


# Testing / cache

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/


# Logs

*.log

# Poetry (иногда полезно)
.cache/pypoetry/


# Docker
docker-compose.override.yml